// Widescreen
@include mediaExtraLarge{

}

// Desktops and Laptops
@include mediaLarge{
    .projects{
        grid-template-columns: repeat(3, 1fr);
    }
}

//Tablets and Small Laptops
@include mediaMedium{
    main{
        align-items: center;
        text-align: center;
        .lg-heading{
            line-height: 1;
            margin-bottom: 1rem;
            font-size: 5rem;
        }
    }
    #about,#work,#contact{
        .lg-heading{
            line-height: 1.5;
            margin-bottom: 1rem;
            font-size: 3rem;
        }
    }
    ul.menu-nav,
    div.menu-branding{
        float: none;
        width: 100%;
        min-height: 0;
        &.show{
            transform: translate3d(0,0,0);
        }
    }
    .menu-nav{
        height: 75vh;
        transform: translate3d(-100%,0,0);
        font-size: 12px;
    }
    .menu-branding{
        height: 25vh;
        transform: translate3d(100%,0,0);
        .portrait{
            background: url(../image/avatarsm.jpg);
            background-size: cover;
            width: 150px;
            height: 150px;
            
        }
    }
    .about-info{
        justify-items: center;
        grid-template-areas:
        'bioimage'
        'bio'
        'job1'
        'job2'
        'job3';
        grid-template-columns: 1fr;

    }
    .projects{
        grid-template-columns: repeat(2, 1fr);
    }
    .contact-info{
        justify-items: center;
        grid-template-areas:
        'bioimage'
        'bio';
        grid-template-columns: 1fr;
        .contact{
            width: 100%;
            text-align: left;
        }
    }
}

// Smartphones
@include mediaSmall{
    main#home h1{
        margin-top: 10vh;
    }
    .projects{
        grid-template-columns: 1fr;
    }
}